@model IEnumerable<tbl_order>

@{
    Layout = "~/Areas/radmin/Views/Shared/_LayoutPageAdmin.cshtml";
    ViewBag.Title = tbl_order.getClassTitle() + " Yönetimi";
}

<div class="title">
    <h5>İşlem Bekleyen Siparişler</h5>
</div>


<div class="body alignLeft">
    <div class="proccess floatright">
        <select>
            <option value="-1">İşlem Seçiniz</option>
            <option>Sil</option>
           
        </select>
    </div>
    <a href="@Url.Action("All")" title="" class="btnIconLeft mr10 mt5">
        <img src="@Url.Content("~/Areas/radmin/Content/images/icons/dark/books.png")" alt="" class="icon" /><span>Tüm Siparişler</span></a>

    <div class="fix"></div>
</div>

@if (ViewBag.success != null)
{ 
    @Html.Raw(ViewBag.resultHtml)
}
<div class="table">
    @Html.Partial("Table", Model)
</div>
